.price {
  &__header { margin-top: 60px; }
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 17px;

    @media (max-width: $mobile) {
      display: block;
    }
  }
  &__item {
    margin-top: 13px;
    
    &-line {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      color: $color-main;
    }
    &-name {
      display: block;
      flex: 0 1 75%;
    }
    &-count {
      display: block;
      flex: 0 1 25%;
      padding-right: 20px;
      text-align: right;
    }
    &-caption {
      flex: 0 1 100%;
      margin-top: 5px;

      color: $grey;
    }
  }
  &__article {
    margin-top: 50px;
    margin-bottom: 60px;

    p { margin-top: 10px; }
  }
}