section.price
  .container--wide.grid
    article.price__block.gc-narrow
      .price__header
        h2 Special Pricing
      .price__body
        .price__item
          h5.price__item-line 
            span.price__item-name Therapeutic Massage 
            span.price__item-count $30
          .price__item-caption
            span 30 minutes Session Packages
        .price__item
          h5.price__item-line 
            span.price__item-name Deep Heat Therapy 
            span.price__item-count $10
          .price__item-caption
            span Аdd on to any massage
        .price__item
          h5.price__item-line 
            span.price__item-name Therapeutic Massage 
            span.price__item-count $60
          .price__item-caption
            span 60 minutes Session Packages
        .price__item
          h5.price__item-line 
            span.price__item-name Ion Foot Detox Treatments 
            span.price__item-count $35
          .price__item-caption
            span 30 minutes Session Packages
        .price__item
          h5.price__item-line 
            span.price__item-name Therapeutic Massage 
            span.price__item-count $90
          .price__item-caption
            span 90 minutes Session Packages
        .price__item
          h5.price__item-line 
            span.price__item-name Ion Foot Detox Treatments 
            span.price__item-count $60
          .price__item-caption
            span 30 minute couples
        .price__item
          h5.price__item-line 
            span.price__item-name Therapeutic Massage 
            span.price__item-count $120
          .price__item-caption
            span 120 minutes Session Packages
        .price__item
          h5.price__item-line 
            span.price__item-name Ion Foot Detox Treatments 
            span.price__item-count $150
          .price__item-caption
            span 5 Pack 30 minute
        .price__item
          h5.price__item-line 
            span.price__item-name Hot Stone Massage 
            span.price__item-count $110
          .price__item-caption
            span 90min full body (must be booked 24 hours in advance)
        .price__item
          h5.price__item-line 
            span.price__item-name Ion Foot Detox Treatments 
            span.price__item-count $300
          .price__item-caption
            span 10 Pack 30 minute
        .price__item
          h5.price__item-line 
            span.price__item-name Hot Stone Add on 
            span.price__item-count $20
          .price__item-caption
            span 30min full body (must be booked 24 hours in advance)
        .price__item
          h5.price__item-line 
            span.price__item-name Cancellation fee 
            span.price__item-count $35
      .price__header
        h2 Package Deals
      .price__body
        .price__item
          h5.price__item-line 
            span.price__item-name Buy 5 Hours of Massage 
            span.price__item-count $275
          .price__item-caption
            span Save $25
        .price__item
          h5.price__item-line 
            span.price__item-name 10, 30m Ion Foot Treatments 
            span.price__item-count $300
          .price__item-caption
            span Save $50
        .price__item
          h5.price__item-line
            span.price__item-name Buy 10 Hours of Massage 
            span.price__item-count $550
          .price__item-caption
            span Save $50
    article.price__article.gc-narrow
      p Each massage has 15 minutes built in after each session so that clients can get off the table slowly.  We will also have time for a pre and post massage chat to find out your goals for a session and look at the results after each session.
      p All forms of payment accepted including credit and debit cards, checks,paypal, and cash.  If your insurance accepts massage therapy as a service I am able to accept insurance at this time.