section.testimonials-all
  .container--wide.grid
    .testimonials__article.article.gc-narrow
      .article__block
        .article__paragraph
          p If you would like to leave a review please go to BBB, Google, Nextdoor, or Facebook.  We have accounts under Intrepid Bodyworks in all places.  Leaving feedback is helpful to the business and helpful for potential clients so they know what you think of the work you recieved.  We welcome any feedback from someone who has recieved a massage from us! Thank you to all my clients that have filled one out already!  Here are some of the reviews we have gotten over the years.
  .container--wide
    .testimonials__body
      .testimonials__item
        h4.testimonials__item-header Kelleen R.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text Mariah is fantastic really listened to what i needed and got the knots OUT.  Very professional and her home was very inviting.  I scheduled my next massage and can't wait to go back.  I'm worth it and she is the BEST.
      .testimonials__item
        h4.testimonials__item-header Sara G.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text I loved everything; the pressure, the detail, you were amazing!!  Out of every massage I've received (both professional and student practitioner) you are my all time favorite!!
      .testimonials__item
        h4.testimonials__item-header Mark B.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text I've always had a great massage at Intrepid, Mariah always takes the time to work out all the kinks and when I have any area that needs extra work she takes the time to work those areas.
      .testimonials__item
        h4.testimonials__item-header Kelleen R.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text I was visiting my daughter and couldn't walk comfortably seeing the sights.  She suggested I see Mariah and I did.  BEST thing ever!  I have had doctors, physical therapists and other massage therapists look at this leg and had no results.  One session with Mariah and my leg feels wonderful.  It has now been weeks and I am back home and my leg still does not hurt.  She is a must see!
      .testimonials__item
        h4.testimonials__item-header Nora Q.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text I loved the work on the IT band, glutes, and greater trocanter.  I have never felt better after a massage.  Thank you for listening to my concerns and addressing them very attentively
      .testimonials__item
        h4.testimonials__item-header Chris C.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text Mariah is the best massage therapist I have been to (and I've seen quite a few) and has really helped me with my cronic back pain issues.  I would recommend her to anyone!
      .testimonials__item
        h4.testimonials__item-header Nichelle B.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text This was the best massage I have had.  Mariah had great techique and was very informational.  No one ever gave me great post massage information like her.  I am going to refer a lot of people I know to Mariah.
      .testimonials__item
        h4.testimonials__item-header Chance K.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text Wonderful pressure!  Well done in professionalism!  Very relaxing, relieved all needed muscles in neck and back!  Thank you!