.main-page__header-background {
  background-color: $bgc-header;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 0;

  display: block;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    top: 50px;
  }

  svg {
    stroke-dasharray: 12471px;
    animation: dash 5s linear alternate;
    
    @keyframes dash {
      0% { stroke-dashoffset: 12471px; }
      100% { stroke-dashoffset: 0; }
    }
    @media (max-width: $tablet) {
      height: 400px;
    }
    #path { overflow: hidden; }
  }
  /* &::after {
    content: '';
    display: inline-block;
    height: 100%;
    min-height: inherit;
    vertical-align: middle;
  } */
}