.header {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  min-height: 560px;

  color: $white;

  background-color: $bgc-header;

  @media (max-width: $tablet) {
    min-height: 400px;
  }

  &--contact-page {
    @media (max-width: $tablet) {
      background-color: unset;
    }
  }
  &--page-404 {
    min-height: 800px;
    @media (max-width: $tablet) {
      min-height: 600px;
    }
    @media (max-width: $mobile) {
      min-height: 450px;
    }
  }

  &__nav {
    z-index: 2;
    margin-top: 32px;
    @media (max-width: $tablet) { 
      margin-top: 0;
    }
  }
  &__body {
    z-index: 1;
    display: grid;
    margin-top: 63px;
    margin-bottom: 71px;

    &--main-page {
      margin-top: 151px;
      margin-bottom: 220px;
      @media (max-width: $tablet) {
        margin-top: 77px;
        margin-bottom: 96px;
      }
    }
    &--contact-page {
      grid-column: 1/6;

      padding-top: 50px;
      padding-bottom: 60px;
      padding-left: 60px;
      padding-right: 60px;

      color: $black-text;

      background-color: $white;
      transform: translateX(48px);

      @media (max-width: $tablet) {
        grid-column: 1/13;
        padding: 0;
        transform: unset;
      }
    }
  }
  &__article {
    margin-top: 20px;
    .header__article-p {
      margin-top: 20px;
    }
    a {
      color: $color-main;
      &:hover, &:focus { opacity: 0.75; }
    }
    &--main-page { 
      z-index: 1;
      margin-top: 30px;
      @media (max-width: $tablet) {
        margin-top: 0;
      }
      .header__article-p {
        margin-top: 27px;
        @media (max-width: $tablet) {
          margin-top: 19px;
        }
      }
    }
    &--contact-page {
      margin-top: 10px;
      h1 { color: $bgc-header;}
      .header__article-p {font-weight: normal; }
    }
    &--page-404 {
      z-index: 1;
      .h1--404, .p--404 {
        text-align: center;
      }
    }
  }
  // main page
  &__line-element {
    z-index: 1;
    width: 40px;
    height: 4px;

    background-color: $white;
    @media (max-width: $tablet) { display: none; }
  }
  &__button { 
    z-index: 1;
    margin-top: 37px;
    @media (max-width: $tablet) {
      margin-top: 24px;
    }
  }
  &__anchor {
    z-index: 1;
    position: relative;
    @media (max-width: $tablet) { display: none; }
  }
  // contact
  &__phonenumber {
    margin-top: 20px;
    color: $bgc-header;
    &:hover, &:focus { opacity: 0.75; }
  }
  &__button--contact-page {
    z-index: 1;
    margin-top: 25px;
  }
}

.arrow-anchor {
  position: absolute;
  top: 140px;
  left: 15px;
  margin-left: -20px;
  width: 40px;
  height: 50px;
  z-index: 1;
  animation-name: show-down-arrow,jump-down-arrow;
  animation-duration: .5s,1s;
  animation-delay: 1.2s,1.3s;
  animation-timing-function: ease-in,ease-out;
  animation-direction: normal,alternate;
  animation-fill-mode: both,both;
  animation-iteration-count: 1,infinite;

  @keyframes show-down-arrow {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes jump-down-arrow {
    0% { transform: translateY(-50px); }
    100% { transform: translateY(-30px); }
  }
  .icon-arrow {
    stroke: $white;
    transform: rotateZ(90deg) translateX(10px);
  }
}

.breadcrumbs {
  display: inline-block;
  list-style: none;

  &__item {
    display: inline;
    color: rgba($white, 0.5);
  }
  .breadcrumbs__item
  +.breadcrumbs__item:before {
    content: "/\00a0";
    color: rgba($white, 0.5);
    transition: 0.15s;
  }
  &__link {
    color: rgba($white, 0.5);
    transition: 0.15s;
    text-decoration: none;
    &:hover, &:focus {
      color: $white;
      transition: 0.15s;
    }
  }
  &--contact-page {
    .breadcrumbs__item { color: rgba($black-text, 0.5); }
    .breadcrumbs__item +.breadcrumbs__item:before { color: rgba($black-text, 0.5); }
    .breadcrumbs__link { color: rgba($black-text, 0.5);
      &:hover, &:focus { color: $black-text; }
    }
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;

  filter: invert(90%) hue-rotate(175deg) brightness(135%);

  @media (max-width: $tablet) {
    position: relative;
    height: 500px;
  }
}