.main-page__header-background {
  background-color: $bgc-header;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 0;

  display: block;
  box-sizing: border-box;

  @media (max-width: $tablet) {
    top: 50px;
  }

  svg {
    stroke-dasharray: 12471px;
    animation: dash 5s linear alternate;
    
    @keyframes dash {
      0% { stroke-dashoffset: 12471px; }
      100% { stroke-dashoffset: 0; }
    }
    @media (max-width: $tablet) {
      height: 400px;
    }
    #path { overflow: hidden; }
  }
}

.article-page__header-background {
  background: url(../img/general/headers/00_article-page--desktope.jpg) center center;
  background: url(../img/general/headers/00_article-page--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/00_article-page--desktope@2x.jpg) center center;
    background: url(../img/general/headers/00_article-page--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/00_article-page--mobile.jpg) center center;
    background: url(../img/general/headers/00_article-page--mobile.webp) center center; 
  }
}
.who-we-are__header-background {
  background: url(../img/general/headers/02_who-we-are--desktope.jpg) center center;
  background: url(../img/general/headers/02_who-we-are--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/02_who-we-are--desktope@2x.jpg) center center;
    background: url(../img/general/headers/02_who-we-are--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/02_who-we-are--mobile.jpg) center center;
    background: url(../img/general/headers/02_who-we-are--mobile.webp) center center; 
  }
}
.price__header-background {
  background: url(../img/general/headers/03_price--desktope.jpg) center center;
  background: url(../img/general/headers/03_price--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/03_price--desktope@2x.jpg) center center;
    background: url(../img/general/headers/03_price--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/03_price--mobile.jpg) center center;
    background: url(../img/general/headers/03_price--mobile.webp) center center; 
  }
}
.what-we-do__header-background {
  background: url(../img/general/headers/04_what-we-do--desktope.jpg) center center;
  background: url(../img/general/headers/04_what-we-do--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/04_what-we-do--desktope@2x.jpg) center center;
    background: url(../img/general/headers/04_what-we-do--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/04_what-we-do--mobile.jpg) center center;
    background: url(../img/general/headers/04_what-we-do--mobile.webp) center center; 
  }
}
.craniosacral-massage__header-background {
  background: url(../img/general/headers/05_craniosacral-massage--desktope.jpg) center center;
  background: url(../img/general/headers/05_craniosacral-massage--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/05_craniosacral-massage--desktope@2x.jpg) center center;
    background: url(../img/general/headers/05_craniosacral-massage--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/05_craniosacral-massage--mobile.jpg) center center;
    background: url(../img/general/headers/05_craniosacral-massage--mobile.webp) center center; 
  }
}
.testimonials__header-background {
  background: url(../img/general/headers/06_testimonials--desktope.jpg) center center;
  background: url(../img/general/headers/06_testimonials--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/06_testimonials--desktope@2x.jpg) center center;
    background: url(../img/general/headers/06_testimonials--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/06_testimonials--mobile.jpg) center center;
    background: url(../img/general/headers/06_testimonials--mobile.webp) center center; 
  }
}
.faq__header-background {
  background: url(../img/general/headers/08_faq--desktope.jpg) center center;
  background: url(../img/general/headers/08_faq--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/08_faq--desktope@2x.jpg) center center;
    background: url(../img/general/headers/08_faq--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/08_faq--mobile.jpg) center center;
    background: url(../img/general/headers/08_faq--mobile.webp) center center; 
  }
}
.careers__header-background {
  background: url(../img/general/headers/11_careers--desktope.jpg) center center;
  background: url(../img/general/headers/11_careers--desktope.webp) center center;
  background-size: cover;

  @media 
  (min-width: $desktope) and (min-resolution: $retina-dpi), 
  (min-width: $desktope) and (min-resolution: $retina-dppx) {
    background: url(../img/general/headers/11_careers--desktope@2x.jpg) center center;
    background: url(../img/general/headers/11_careers--desktope@2x.webp) center center;
  }
  @media (max-width: $mobile) {
    background: url(../img/general/headers/11_careers--mobile.jpg) center center;
    background: url(../img/general/headers/11_careers--mobile.webp) center center; 
  }
}