.contact-us-form {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: $color-main;

  @media (max-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $bgc-form;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    background-color: $white;

    @media (max-width: $tablet) {
      flex-direction: column;
      background-color: $bgc-form;
    }
  }
  &__article {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    padding-top: 74px;
    padding-bottom: 74px;
    background-color: $white;

    @media (max-width: $tablet) {
      display: block;
      padding: 0;
      background-color: $bgc-form;
      .article__paragraph, 
      .article__list--checklist-mod {
        display: none;
      }
    }
    .article {
      grid-column: 2/7;

      &__header {
        h2, h3, h4, h5, h6 { margin-top: 30px; }
        color: $form-header;
  
        @media (max-width: $tablet) {
          h1 { text-align: center; }
          h2, h3, h4, h5, h6 { display: none; }
        }
      }
    }
  }
  &__form {
    display: flex;
    align-items: center;
    flex: 1 0 500px;
    width: 500px;
    padding: 85px 100px;

    background-color: $bgc-form;

    @media (max-width: $tablet) {
      flex: unset;
      width: unset;
      max-width: 300px;
      margin: 0 auto;
      margin-top: 30px;
      padding: 0;
    }
  }
}