section.contact-us-form
  .container--wide
    .contact-us-form__wrapper
      .contact-us-form__article
        article.article
          .article__header
            h1 Contact Us
          .article__paragraph
            p We seek to create long-term relationships built on results. Tell us about your business goals and we will contact you.
          .article__header
            h3 What You Get
          .article__list--checklist-mod
            ul
              li An email or phone call from one of our consultants.
              li A cost estimate for your project.
              li An in-person meeting
      .contact-us-form__form
        .form__send
          form.form
            input(type="text" name="name" placeholder="Name" aria-label="name").form__input
            input(type="tel", name="phone" placeholder="Phone" aria-label="phone").form__input
            input(type="email", name="email" placeholder="Email" aria-label="email").form__input
            textarea(name="textarea", cols="30", rows="4" placeholder="Message" aria-label="message").form__textarea
            button(type="submit").form__submit-button Send
        .form__accepted
          article.form__article
            h4 Your message has been sent, we will contact you soon! Have a good day!
          span.form__submit-button.form__submit-button--ok Ok