//- article__slider items
- var file1 = "craniosacral-massage"
- var label1 = "This allows your final design to look deliberate, professional, and consistent."
- var file2 = "craniosacral-massage"
- var label2 = "This allows your final design to look deliberate, professional, and consistent."
- var file3 = "craniosacral-massage"
- var label3 = "This allows your final design to look deliberate, professional, and consistent."

section.craniosacral-massage
  .container--narrow
    .craniosacral-massage__article.article
      article.article__block
        .article__paragraph
          p Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy may help provide the relief you're looking for. At Intrepid Bodyworks, we treat clients with a wide range of health-related issues and needs. If you're looking for a warm, attentive massage professional, we welcome you to visit our conveniently located facility.
        .article__header
          h3 Your Health Comes First
        .article__paragraph
          p At Intrepid Bodyworks in Thornton, CO, we put our clients' health first. When you come to us, we’ll take the time to understand your physical symptoms and will work with you to devise a customized treatment plan. From appointment scheduling to payments and billing, we strive to make your experience pleasant and hassle-free.
          p Is Craniosacral therapy the right choice for you? It pays to learn more. Call Intrepid Bodyworks today to schedule an appointment.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
        .article__slider
          include ../5.sliders/article__slider
        .article__header
          h4 Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit
        .article__paragraph
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
          p Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.