//- article__slider items
- var file1 = "craniosacral-massage"
- var label1 = "This allows your final design to look deliberate, professional, and consistent."
- var file2 = "craniosacral-massage"
- var label2 = "This allows your final design to look deliberate, professional, and consistent."
- var file3 = "craniosacral-massage"
- var label3 = "This allows your final design to look deliberate, professional, and consistent."


section.faq
  .container--narrow
    article.article.faq__article
      .article__block
        .article__header
          h3 What should I expect during my first massage therapy visit?
        .article__paragraph
          p Your massage therapist may require you to fill out a health history form. Afterward the therapist will begin by asking you general questions to establish what areas you would like worked on, if there are any conditions needing to be addressed, and to determine if massage is appropriate for you. Your massage therapist may perform certain assessments and testing to evaluate your condition and to see if you have any presenting complaints.
          p It is important to list all health concerns and medications so the therapist can adapt the session to your specific needs without doing any harm. It is also important to list any allergies so the therapist is aware if he/she needs to use a different oil or lotion during the session.
        .article__line
        .article__header
          h3 How often should I get a massage?
        .article__paragraph
          p What does that mean? Well, it varies from person to person. If you are just looking for some occasional relaxation, then a session every 3-6 weeks may be fine for you. However, if you are looking to address a specific condition, then it is recommended to go more frequently at first and then slowly taper down to a maintenance schedule. Sometimes more frequent 30-minute sessions can be effective until your goals are met and a maintenance schedule is in place.
          p Frequency of sessions should be discussed with your massage therapist after your treatment when he/she has a better hands-on understanding of your particular muscular issues.
        .article__line
        .article__header
          h3 If I want a really deep massage shouldn't I see a male therapist?
        .article__paragraph
          p The answer is NO. There is a perception that men give deeper massages than women. This is a myth. While some men do give a deeper massage, there are men who prefer to not work so deep. The same holds true for women. It is a matter of style, training, and therapist preference. Some therapists prefer not to give really deep sessions while others specialize in this area. If you are looking for a deep massage, it is best to simply ask the therapist if she/he does this type of work. And of course, during your session it is perfectly ok to give the therapist feedback if you would like a lighter/deeper pressure. It's your session!
          p And remember, massage does not have to hurt to be effective.
        .article__line
        .article__header
          h3 Can I talk during my session?
        .article__paragraph
          p Sure, if you'd like to talk go right ahead. The important thing to remember is that this treatment is all about you relaxing and enjoying the experience. Many therapists discourage talking in hopes that you will relax, let your mind float free and enter a state of massage bliss. In many instances, people may feel more relaxed starting off talking, and as the massage progresses, enter quiet states of relaxation.
          p The important issue here is that there are times when you need to speak up. If the therapist is doing anything to make you uncomfortable, you should let her/him know immediately. Also, let him/her know if you get too warm or too cold, if the room is too bright, or if the pressure needs to be changed (lighter or deeper). If something is not working for you - speak up! It's OK!
        .article__line
        .article__header
          h3 Do I have to listen to whale calls or flutes during my massage?
        .article__paragraph
          p No. (Not that there's anything wrong with that.) While many therapists play slower, quieter, new age' type music, you can choose to have different music or no music at all. Studies have shown that music at under 60 beats-per-minute has a calming, relaxing effect on the body and therefore can enhance your experience.
          p However, while this may be true, any music you like to listen to while you relax can be listened to while you get a massage. If it relaxes you and you enjoy it at home, why wouldn't it do the same during your treatment? Ask your therapist what music he/she has to offer or if it is ok to bring your own from home.
        .article__line
        .article__header
          h3 What can I expect at my first massage?
        .article__paragraph
          p At your first massage, you’ll complete a health history form and address any of your concerns and goals with your massage therapist. Once the treatment has been determined, the RMT will leave the room to allow you the privacy to get onto the table and make yourself comfortable. Before re-entering the room to begin the treatment, your therapist will knock on the door. To learn more about what to expect at your first massage. If you’re new to massage, you’ll want to know exactly what to expect on your first visit to our clinic. We’ve broken it down for you, just so there are no surprises.
        .article__header
          h4 Your Arrival
        .article__paragraph
          p It’s a good idea to come 10-15 minutes before your first appointment to carefully fill out your health history form.
        .article__header
          h4 Getting Prepped
        .article__paragraph
          p Your Registered Massage Therapist (RMT) will take you into one of our treatment rooms and discuss your health history form and massage preferences. You’ll also discuss your assessment and treatment plan from your RMT at this point.
          p Your RMT will then leave the room to allow you to disrobe. You can receive an effective, therapeutic massage regardless of what clothing (if any) you choose to remove. Your comfort and ability to relax is a top priority for our RMTs. Some people like to take off all their clothing, while others leave on their undergarments or other articles of clothing. It’s really up to you. If you choose to be fully clothed, please wear loose fitting clothing (like sweatpants and a t-shirt) so that your body will not be restricted during your treatment. Cover yourself with the linens provided and wait for your therapist to knock on the door.
        .article__slider
          include ../5.sliders/article__slider
        .article__header
          h4 Let the Treatment Begin
        .article__paragraph
          p You’ll stay under the fresh linens on the heated, padded massage table throughout the treatment. RMTs are trained to ensure the sheet on the massage table always drapes you and protects your privacy. Only the body part being worked on will be uncovered.
          p Your RMT will ask you periodically whether the pressure is okay. You should also feel free to communicate with your therapist about pressure at any time, as well as about draping or any pain you might be feeling throughout the massage. You can expect complete quiet from your therapist or relaxing conversation if you prefer. There will be calming music played, unless you don’t want it.
        .article__line
        .article__header
          h3 How often should I get a massage?
        .article__paragraph
          p Depending on your preventative and maintenance needs, one massage per month is the recommended frequency. If your specific condition or needs demand it, your RMT will design a customized treatment plan which may involve more or less frequent massages.