section.careers
  .container--wide.grid
    article.article.careers__article.gc-narrow
      .article__block
        .article__paragraph
          p Thank you for your interest in joining the Intrepid Bodyworks team! We are a group of diverse and dedicated professionals who embrace a family-like atmosphere. Everything we do is to further serve the profession and live up to our mission of defining and advancing the highest standards in the massage therapy and bodywork profession. We are always striving for excellence and take pride in what we do.
          p We are always looking for team players who are passionate about their skills, enjoy interacting with others, and strive for excellence. If this sounds like you, please contact us to request more information about massage therapy careers.
        .article__header
          h3 Massage Therapist
        .article__paragraph
          p We are looking for talented massage therapists that are interested in growing and extending their skills and knowledge! Great compensation with commission structure, incentives and health, vision, dental and life insurance benefits!
        .article__header
          h4 Benefits We Offer:
        .article__list
          ul
            li Health Insurance
            li Paid Vacations
            li Guaranteed Pay
            li Employee Discounts on Products
            li Free Monthly Massages for Employees
            li Steady Income all year
            li Flexible Schedules
            li Professional and Safe Work Environment