// Colors
$black: #000000;
$white: #ffffff;
$color-main: #7400A3;
$a: #4C2463;
$bgc-header: #4F1790;
$bgc-mobile-menu: #37076F;
$d: #3C1732;
$e: #240A25;
$bgc-btn1: #F6674D;
$bgc-btn1-hover: #f77e68;
$bgc-btn1-click: #c5523e;
$bgc-btn2: #4F1790;
$bgc-btn2-hover: #693aa1;
$bgc-btn2-click: #3f1273;
$bgc-bottom-right: #4299FF;
$bgc-bottom-right-hover: rgb(69, 66, 255);
$g: #222222;
$h: #240A25;
$i: #888888;
/* $bgc-page: #050713;
$bgc-mobile-menu: rgba(1, 23, 45, 0.95);
$bgc-nav-sticky: rgba(27, 49, 75, 0.9);
$bgc-element: rgba(27, 49, 75, 0.75);
$bgc-element-button: #2D3A52;
$bgc-link: #0E1420;
$bgc-link-hover: #E7CC89;
$color-warning: #FF4242;
 */

// Breakpoints desktope first
$mobile: 768px;
$tablet: 1024px;
$desktope: 1200px;
$wide: 1400px;

// DPI
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$base-font-size: 16px;
@function rem($size) { @return $size / $base-font-size * 1rem; }
$font: "IBM Plex Sans", "Arial", "Helvetica", sans-serif;

@mixin font { font-family: $font; font-weight: normal; font-style: normal; }
@mixin font-medium { font-family: $font; font-weight: 500; font-style: normal; }
@mixin font-semibold { font-family: $font; font-weight: 600; font-style: normal; }
@mixin font-bold { font-family: $font; font-weight: bold; font-style: normal; }
@mixin font-bolditalic { font-family: $font; font-weight: bold; font-style: italic; }
@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}