section.gift-certificates-block
  .container--wide.grid
    .gift-certificates-block__block.gc-middle
      .gift-certificates-block__line-element
      .gift-certificates-block__header
        h2 Gift Certificates
      .gift-certificates-block__description
        p Gift certificates are a great way to say thank you to someone.  Give the gift of massage to co-workers, employees, or loved ones to help them relax or reduce chronic pain.
      .gift-certificates-block__button
        a(href="contact.html").button.button--i-want-to-relieve Learn More