section.free-consultation
  .container--wide.grid
    .free-consultation__block.gc-middle
      .free-consultation__line-element
      .free-consultation__header
        h2 Free Consultation
      .free-consultation__description
        p Do you feel like massage can help you, but you don't know where to start? Don't want to waste money jumping from therapist to therapist trying to find the right one? Book a free consultation with Mariah Tritz and see how massage can help!
      .free-consultation__button
        a(href="contact.html").button.button--i-want-to-relieve Request a Free Consultation