//- article__slider items
- var file1 = "article__slider-img_1"
- var label1 = "This allows your final design to look deliberate, professional, and consistent."
- var file2 = "article__slider-img_2"
- var label2 = "This allows your final design to look deliberate, professional, and consistent."
- var file3 = "article__slider-img_3"
- var label3 = "This allows your final design to look deliberate, professional, and consistent."

section.article
  .container--narrow
    article.article__block
      .article__contents
        .article__contents-header
          h4 Skip Ahead
        ol.article__contents-list
          li
            a(href="#") Welcome to the World of CEO
          li
            a(href="#") Search Engine Optimization Basics: What is the Semantic Core?
          li
            a(href="#") Describe Your Company with Tails and Specifiers
          li
            a(href="#") Building your Semantic Core to Begin Website Optimization
          li
            a(href="#") Keyword Research Tools Beyond Keyword Planner to Build a Semantic Core
          li
            a(href="#") Divide a Semantic Core Into Few Sub-cores for Each Theme
          li
            a(href="#") How to Do a Quick Keyword Research in Your Niche 
          li
            a(href="#") The Importance of Stop Words in Keyword Research
          li
            a(href="#") Best SEO Techniques: How Many Words Should be in my Semantic Core?
          li
            a(href="#") Summing it up
      .article__paragraph
        p When returning from his leave, Rostóv felt, for the first time, how close was the bond that united him to Denísov and the whole regiment.
        p On approaching it, Rostóv felt as he had done when approaching his home in Moscow. When he saw the first hussar with the unbuttoned uniform of his regiment, when he recognized red-haired Deméntyev and saw the picket ropes of the roan horses, when Lavrúshka gleefully shouted to his master, “The count has come!” and Denísov, who had been asleep on his bed, ran all disheveled out of the mud hut to embrace him, and the officers collected round to greet the new arrival, Rostóv experienced the same feeling as when his mother, his father, and his sister had embraced him, and tears of joy choked him so that he could not speak. The regiment was also a home, and as unalterably dear and precious as his parents’ house.
      .article__picture
        picture
          source(media="(max-width: "+mobile+"px)" srcset="img/content/article__img_1@tablet.webp" type="image/webp" )
          source(media="(max-width: "+mobile+"px)" srcset="img/content/article__img_1@tablet.jpg")
          source(media="(min-width: "+(tablet+1)+"px)" srcset="img/content/article__img_1@desktope.webp" type="image/webp" )
          img(class="article__img" src="img/content/article__img_1@desktope.jpg" alt="article image")
      .article__picture-label
        p This allows your final design to look deliberate, professional, and consistent.
      .article__paragraph
        p When he had reported himself to the commander of the regiment and had been reassigned to his former squadron, had been on duty and had gone out foraging, when he had again entered into all the little interests of the regiment and felt himself deprived of liberty and bound in one narrow, unchanging frame, he experienced the same sense of peace, of moral support, and the same sense of being at home here in his own place, as he had felt under the parental roof.
      .article__header
        h2 H2 Chapter XV
      .article__paragraph
        p The whole world was divided into two unequal parts: one, our Pávlograd regiment; the other, all the rest. And the rest was no concern of his. In the regiment, everything was definite: who was lieutenant, who captain, who was a good fellow, who a bad one, and most of all, who was a comrade. The canteenkeeper gave one credit, one’s pay came every four months, there was nothing to think out or decide, you had only to do nothing that was considered bad in the Pávlograd regiment and, when given an order, to do what was clearly, distinctly, and definitely ordered—and all would be well.
        p Having once more entered into the definite conditions of this regimental life, Rostóv felt the joy and relief a tired man feels on lying down to rest. Life in the regiment, during this campaign, was all the pleasanter for him, because, after his loss to Dólokhov (for which, in spite of all his family’s efforts to console him, he could not forgive himself), he had made up his mind to atone for his fault by serving, not as he had done before, but really well, and by being a perfectly first-rate comrade and officer—in a word, a splendid man altogether, a thing which seemed so difficult out in the world, but so possible in the regiment.
      .article__header
        h3 H3 How do you measure by baseline?
      .article__paragraph
        p The officers, as usual, lived in twos and threes in the roofless, half-ruined houses. The seniors tried to collect straw and potatoes and, in general, food for the men. The younger ones occupied themselves as before, some playing cards (there was plenty of money, though there was no food), some with more innocent games, such as quoits and skittles. The general trend of the campaign was rarely spoken of, partly because nothing certain was known about it, partly because there was a vague feeling that in the main it was going badly.
        p Rostóv lived, as before, with Denísov, and since their furlough they had become more friendly than ever. Denísov never spoke of Rostóv’s family, but by the tender friendship his commander showed him, Rostóv felt that the elder hussar’s luckless love for Natásha played a part in strengthening their friendship. Denísov evidently tried to expose Rostóv to danger as seldom as possible, and after an action greeted his safe return with evident joy. On one of his foraging expeditions, in a deserted and ruined village to which he had come in search of provisions, Rostóv found a family consisting of an old Pole and his daughter with an infant in arms. They were half clad, hungry, too weak to get away on foot and had no means of obtaining a conveyance. Rostóv brought them to his quarters, placed them in his own lodging, and kept them for some weeks while the old man was recovering.
      .article__slider
        include ../5.sliders/article__slider
      .article__paragraph
        p In April, Rostóv was on orderly duty. One morning, between seven and eight, returning after a sleepless night, he sent for embers, changed his rain-soaked underclothes, said his prayers, drank tea, got warm, then tidied up the things on the table and in his own corner, and, his face glowing from exposure to the wind and with nothing on but his shirt, lay down on his back, putting his arms under his head. He was pleasantly considering the probability of being promoted in a few days for his last reconnoitering expedition, and was awaiting Denísov, who had gone out somewhere and with whom he wanted a talk.
      .article__header
        h4 H4 Do a couple of Google searches
      .article__two-blocks
        .article__two-blocks-leftside.article__list--checklist
          ul
            li Nationwide lowest monthly cost 24/7 live assistance
            li Free translate service if you prefer another language
            li Free activation
            li No long-term contact requirement (30-day month-to-month agreement)
            li 30-day Money-Back Guarantee
        .article__two-blocks-rightside.article__list--checklist
          ul
            li All systems are loaned free of charge for the term of the subscription
            li Free shipping with annual subscription
            li No hidden fees
            li Prices won't increase unless you add upgrades
            li Available quarterly, semi-annual and annual subscriptions for instant savings
      .article__paragraph
        p We want to make one thing clear: everything that we will be writing about in this series has not only been verified by several other web development sites, but also used and implemented by them as well.This is practical advice used by real people at real companies.
      .article__list
        ul
          li Simple Habit by Simple Habit Inc
          li Be My Eyes by Be my Eyes
          li Khan Academy by Khan Academy
          li Old Man's Journey by Broken Rules Interactive Media GmbH
          li Episode by Procket Gems
      .article__paragraph
        p You’ll often hear the term baseline grid thrown around in relation to achieving vertical rhythm. A baseline grid allows us to track the vertical distances between type and other objects in a design, and I highly recommend using one to achieve a consistent vertical rhythm. However, remember that native mobile experiences and web browsers measure typography in slightly different ways. This can lead to some confusion for designers and developers depending on the design tools and platform.
      .article__list
        ol
          li Measure everything by the baseline
          li Measure everything by the line height
          li Allow web and native environments to do their thing
      .article__paragraph
        p His life meanwhile continued as before, with the same infatuations and dissipations. He liked to dine and drink well, and though he considered it immoral and humiliating could not resist the temptations of the bachelor circles in which he moved.
      .article__header
        h5 H5 Actual Information
      .article__paragraph
        p In April, Rostóv was on orderly duty. One morning, between seven and eight, returning after a sleepless night, he sent for embers, changed his rain-soaked underclothes, said his prayers, drank tea, got warm, then tidied up the things on the table and in his own corner, and, his face glowing from exposure to the wind and with nothing on but his shirt, lay down on his back, putting his arms under his head. He was pleasantly considering the probability of being promoted in a few days for his last reconnoitering expedition, and was awaiting Denísov, who had gone out somewhere and with whom he wanted a talk.
      .article__header
        h6 H6 Awesome Animated
      .article__paragraph
        p His life meanwhile continued as before, with the same infatuations and dissipations. He liked to dine and drink well, and though he considered it immoral and humiliating could not resist the temptations of the bachelor circles in which he moved.
      .article__video
        <video controls poster="img/content/article__video.jpg" preload="none" src="https://youtu.be/6Ron-Ikenfc"></video>
      .article__paragraph
        p Nearly two years before this, in 1808, Pierre on returning to Petersburg after visiting his estates had involuntarily found himself in a leading position among the Petersburg Freemasons. He arranged dining and funeral lodge meetings, enrolled new members, and busied himself uniting various lodges and acquiring authentic charters. He gave money for the erection of temples and supplemented as far as he could the collection of alms, in regard to which the majority of members were stingy and irregular. He supported almost singlehanded a poorhouse the order had founded in Petersburg.
      .article__header
        h3 H3 Table
      .article__table
        table
          thead
            tr
              th Traditional Rental
              th Ecommerce
              th 3rd Column
          tbody
            tr
              td If you find what you need in the store, you can grab it right away without having to wait for the time it takes to ship
              td The time investment is much smaller. You can browse several sites and options within minutes without having to drive from place to place
              td You can often find products at cheaper prices than you would by visiting the traditional stores because websites don’t require building upkeep, hundreds of sales personnel, etc.
            tr
              td Depending on what it is you intend to buy, you can try the goods on before making your purchase
              td There is a broader range of products, especially when exploring a particular brand, size, color, feature, etc.
              td Product presentations come with greater depth and immersive experience (sound, video, detailed descriptions, live Q&A)
            tr
              td Some people take pleasure in browsing and shopping (but not me!)
              td You can buy from almost any country in the world. There are no borders in the online world (at least not yet).
              td $700
            tr
              td
              td You can often find products at cheaper prices than you would by visiting the traditional stores because websites don’t require building upkeep, hundreds of sales personnel, etc.
              td
            tr
              td
              td You can read customer reviews
              td
            tr
              td
              td Product presentations come with greater depth and immersive experience (sound, video, detailed descriptions, live Q&A)
              td $900
            tr
              td
              td An ever-increasing trend, more and more shops will allow for free returns should a product not fit properly or meet the standards they claimed online.
              td You can read customer reviews
      .article__paragraph
        p Amid the turmoil of his activities and distractions, however, Pierre at the end of a year began to feel that the more firmly he tried to rest upon it, the more Masonic ground on which he stood gave way under him. At the same time he felt that the deeper the ground sank under him the closer bound he involuntarily became to the order. When he had joined the Freemasons he had experienced the feeling of one who confidently steps onto the smooth surface of a bog. When he put his foot down it sank in. To make quite sure of the firmness of the ground, he put his other foot down and sank deeper still, became stuck in it, and involuntarily waded knee-deep in the bog.
      .article__iframe
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdigitalkward%2Fphotos%2Fa.10151733082295472%2F10153080498765472%2F%3Ftype%3D3&width=500" width="100%" height="633" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      .article__iframe
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/B_fZq2MAHMk/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:100%; min-width:200px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/B_fZq2MAHMk/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;"> Посмотреть эту публикацию в Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div></a> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/B_fZq2MAHMk/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Nathaniel Rackowe’s (@rackowe) fluorescent sculptures use light to transform existing raw structures, like this tree.⁣ ⁣ “I wanted to create a space, allowing the audience to consider how the natural environment and a man-made environment affected them differently — by immersing them in this impossible space that belonged to both,” says the London-based artist.⁣ ⁣ “I hope my work can help people look with new eyes at the spaces that surround them and find a beauty they may not have uncovered before — that is the ultimate aim.” #ThisWeekOnInstagram⁣ ⁣ Photo by @rackowe</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">Публикация от <a href="https://www.instagram.com/instagram/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> Instagram</a> (@instagram) <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2020-04-27T16:14:50+00:00">27 Апр 2020 в 9:14 PDT</time></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
      .article__paragraph
        p Now I can go online and have four different pairs shipped right to my house (all in the popular styles once reserved for those of average shoe sizes) within 48 hours of me visiting the initial page online. What’s more is that I can try them on, choose one or two pairs, and ship the rest back free of charge!
      .article__iframe
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Crew Dragon at the Cape undergoing final preparations ahead of first flight to the <a href="https://twitter.com/Space_Station?ref_src=twsrc%5Etfw">@Space_Station</a> with <a href="https://twitter.com/NASA?ref_src=twsrc%5Etfw">@NASA</a> astronauts onboard <a href="https://t.co/uMpmroFDD6">pic.twitter.com/uMpmroFDD6</a></p>&mdash; SpaceX (@SpaceX) <a href="https://twitter.com/SpaceX/status/1256366000527732736?ref_src=twsrc%5Etfw">May 1, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      .article__paragraph
        p Now I can go online and have four different pairs shipped right to my house (all in the popular styles once reserved for those of average shoe sizes) within 48 hours of me visiting the initial page online. What’s more is that I can try them on, choose one or two pairs, and ship the rest back free of charge!
      .article__list
        ul
          li 
            a(href="#") RR_route_x.pdf
          li 
            a(href="#") Megafile_2019.docx
          li 
            a(href="#") Tablica_spiskov_i_spisok_tablic.key
      .article__paragraph
        p He divided the Brothers he knew into four categories. In the first he put those who did not take an active part in the affairs of the lodges or in human affairs, but were exclusively occupied with the mystical science of the order: with questions of the threefold designation of God, the three primordial elements—sulphur, mercury, and salt—or the meaning of the square and all the various figures of the temple of Solomon. Pierre respected this class of Brothers to which the elder ones chiefly belonged, including, Pierre thought, Joseph Alexéevich himself, but he did not share their interests. His heart was not in the mystical aspect of Freemasonry.
      .article__quote
        .article__quote-content
          .article__quote-text
            p If you can make forms easy and pleasurable to use (forms!), then most everything else will be a cinch.
          .article__quote-author
            p — Heydon Pickering
      .article__paragraph.article__paragraph--mt40
        p In the second category Pierre reckoned himself and others like him, seeking and vacillating, who had not yet found in Freemasonry a straight and comprehensible path, but hoped to do so.
      .article__bloger
        a(href="#").article__bloger-author
          img(src="img/content/alex-kudimov.png", alt="bloger", srcset="img/content/alex-kudimov.webp")
          span Alex Kudimov
        .article__bloger-data
          time(pubdate="2018-06-19") 19th June 2018
      .article__social
        .article__social-icons
          .article__social-icons-facebook
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fdigitalkward%2Fposts%2F10161040838130472&layout=button_count&size=small&width=119&height=20&appId" width="119" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          .article__social-icons-twitter
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
          .article__social-icons-linkedin
            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="https://www.linkedin.com"></script>
        .article__social-caption
          p Thanks for reading! Please like and share.