section.about-section
  .container--wide
    .about-section__block.grid
      .about-section__header
        h3 About Intrepid Bodyworks
      .about-section__photo
        picture
          source(media="(max-width: "+tablet+"px)" srcset="img/general/about@tablet.webp" type="image/webp" )
          source(media="(max-width: "+tablet+"px)" srcset="img/general/about@tablet.jpg")
          source(media="(min-width: "+(tablet+1)+"px)" srcset="img/general/about@desktope.webp" type="image/webp" )
          img(class="about-section__photo-img" src="img/general/about@desktope.jpg" alt="about picture")
      .about-section__description
        p We offer local massage deals at Intrepid Bodyworks for Westminster, Thornton and Northglenn. We can address rehabilitation issues, structural problems, injuries, auto accidents and more. At Intrepid Bodyworks, we are constantly looking for ways to improve our customer experience.
      .about-section__button
        a(href="who-we-are.html").button.button--learn-more Learn More