.container--wide
  .first-main-section#first-main-section
    .first-main-section__aside
      h4 We Accept Insurance
      h4 Massage Therapy After Car Accident
      h4 24 Years of Work Experience
    .first-main-section__article
      p.first-main-section__p The streak started in late October. Canelas 2010, an unheralded amateur soccer team, suddenly could not stop winning. It went 10 straight matches without dropping a point, without so much as conceding a goal, a surge<span class="read-more__dots">...</span><span class="read-more__full"> that brought the prospect of promotion out of its local league and into the comparative big time of the national third division. It was the sort of run that would, in normal circumstances, bring the professional scouts flocking, marveling at this small-time miracle. Nobody came to see Canelas, though. Nobody could. There was nothing to watch. Though each of those results was officially recorded as a 3-0 Canelas win, none of the matches actually happened. After a scoreless game with Padroense on Oct. 23, Canelas did not play again in 2016. Its players were told they were too violent on the field, too intimidating to referees.</span>
      button.button-reset.read-more__button.first-main-section__button-read-more Read more
