extends layout/main

block variables
  - var title = "Intrepid Bodyworks - FAQ"

block header
  header.header.faq__header-background
    nav.header__nav
      include ../components/3.nav/nav
    .container--wide.grid
      .header__body.gc-narrow
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="index.html").breadcrumbs__link Home
            li.breadcrumbs__item FAQ
        article.header__article
          h1 Massage Frequently Asked Questions
          p.header__article-p Here are a few frequently asked questions and answers about massage. So don’t fret and just relax that’s the whole point of getting a massage!

block content
  include ../components/faq/faq
  include ../components/contact-us/contact-us

block script