extends layout/main

block variables
  - var title = "Intrepid Bodyworks"

block header
  header.header
    .main-page__header-background 
      svg(width="1920" height="950" viewBox="0 0 1400 844" fill="none" xmlns="http://www.w3.org/2000/svg")
        <path id="path" opacity="0.25" d="M-389 633.857C-281.044 615.125 -98.5396 546.463 0.807434 500.247C43.3827 480.441 92.3029 454.198 119.152 415.468C131.031 403.962 138.458 406.401 132.776 397.828C28.5123 420.839 -92.5885 471.377 -187.024 521.228C-197.375 526.691 -208.088 532.461 -215.019 541.893C-223.256 553.1 -224.885 567.687 -226.24 581.53C-230.232 622.282 -234.222 663.035 -238.212 703.787C-240.733 729.53 -242.557 757.961 -227.11 778.707C-168.417 769.217 -109.723 759.726 -51.0277 750.237C-35.1785 747.674 -18.7464 744.884 -5.52332 735.778C15.4086 721.364 23.5614 694.654 28.3376 669.688C36.5278 626.866 39.3321 567.615 35.9145 524.152C14.626 567.669 3.62073 604.737 -7.87482 628.235C-16.6979 646.273 -30.3596 674.406 -32.2084 694.401C-34.945 724.005 -21.8306 752.512 -9.03543 779.349C-0.387029 797.487 8.89605 816.404 25.1998 828.149C47.7149 844.367 78.0155 843.148 105.61 840.234C239.998 826.045 344.659 785.188 465.63 724.951C486.154 714.731 534.12 706.146 556.919 703.719C584.338 700.802 611.298 710.628 638.529 714.966C698.208 724.472 758.578 707.511 816.629 690.72C816.751 690.685 816.872 690.651 816.991 690.615C825.067 688.271 822.614 676.201 814.267 677.216C747.39 685.346 678.505 676.88 615.687 652.488C586.849 641.291 558.976 626.738 528.594 620.909C481.939 611.96 433.691 624.35 386.393 619.917C343.331 615.882 302.915 598.134 261.081 587.152C219.248 576.17 172.066 572.692 135.135 595.204C187.464 606.224 241.8 607.625 294.627 599.316C281.338 572.298 268.74 575.735 255.451 548.717C288.141 564.031 329.409 537.446 357.26 514.479C385.113 491.511 382.3 436.82 347.617 426.805C351.641 441.69 357.191 467.307 353.618 482.3C351.677 490.447 333.151 492.207 329.596 484.625C310.66 444.229 297.529 420.584 291.626 384.65C317.63 430.075 344.363 461.879 331.146 512.525C320.208 517.478 305.889 514.461 302.172 503.042C288.148 459.98 267.68 419.188 253.658 376.125C276.893 410.729 300.086 441.754 305.575 483.076C306.115 487.147 309.909 495.595 307.502 498.922C298.237 511.728 278.749 495.866 271.521 481.453C252.756 444.04 241.736 422.065 222.97 384.652C240.148 402.539 252.258 420.596 260.26 444.065C263.839 454.563 252.244 463.876 242.809 458.046C224.534 446.75 210.967 421.917 193.215 409.452C175.464 396.989 158.862 414.102 145.948 379.228C143.396 372.338 136.169 360.187 129.674 356.752C118.974 351.095 107.421 359.678 95.578 362.178C11.1139 380.003 -97.5697 378.208 -168.661 354.429C-187.179 348.235 -216.736 261.78 -219.17 238.89C-225.089 183.203 -251.729 21.9822 -257.648 -33.7041C-257.981 -36.8726 -72.0809 -36.557 -68.4582 -34.0465C-64.2954 -31.1633 -70.3943 73.3891 -69.5154 78.3763C-62.2398 119.604 -83.7155 238.767 -63.272 242.572C-18.8445 250.838 54.5038 264.532 104.121 268.262C146.274 271.432 178.976 295.245 215.691 311.805C254.505 329.313 297.162 340.102 335.785 362.588C344.898 367.893 355.8 380.299 365.766 390.684C372.042 397.222 367.829 408.231 358.779 408.716C348.123 409.288 336.879 407.156 328.051 403.254C348.951 420.038 361.719 432.692 384.099 447.445C406.477 462.2 441.657 411.397 443.511 384.654C433.037 396.978 358.273 471.454 423.363 353.654C405.519 354.392 399.707 380.923 392.957 397.459C388.773 407.712 381.731 422.795 371.872 417.183C369.048 415.577 367.219 412.653 366.641 409.456C361.384 380.397 373.464 349.05 396.566 330.768C406.912 322.58 435.296 298.24 445.459 289.828C478.379 262.583 465.844 230.035 449.316 190.626C432.789 151.217 390.082 36.8474 370.844 -36.0043C402.672 -38.9445 568.607 -47.849 574.328 -36.0667C589.698 -4.41049 576.458 258.036 563.752 276.112C556.27 286.757 543.911 303.2 555.71 308.682C602.953 243.789 690.77 210.57 768.57 230.294C846.37 250.019 908.344 322.725 913.154 402.851C914.293 421.825 912.382 441.381 904.269 458.571C895.941 476.215 881.695 490.244 867.737 503.872C829.569 541.144 788.297 580.104 735.968 590.474C734.337 566.49 766.142 544.241 753.876 523.567C744.67 508.049 721.442 513.077 703.933 508.723C671.938 500.767 649.208 469.002 645.82 436.205C642.431 403.408 648.582 356.631 618.668 342.773C571.664 320.999 541.786 386.312 490.005 387.751C518.605 370.236 523.083 354.497 536.244 323.648C536.244 280.8 438.086 384.65 455.696 413.842C391.494 464.388 355.818 540.283 353.071 621.956C352.659 634.23 375.32 659.44 386.167 665.2C393.08 668.869 510.163 670.463 553.544 665.975C595.934 661.589 613.735 661.47 652.73 644.276C724.795 612.5 792.659 598.059 850.569 550.117C860.035 542.278 869.506 533.679 881.326 530.314C891.57 527.397 902.482 528.747 913.044 530.118C935.659 533.055 958.272 535.991 980.887 538.93C1017.9 543.737 1059.28 551.069 1080.72 581.618C1098.96 607.597 1105.02 650.595 1136.64 653.316C1165.3 655.78 1180.98 614.322 1165.47 590.1C1149.96 565.877 1112.15 543.603 1083.42 542.35C984.679 538.042 896.198 602.674 797.375 600.899C766.336 600.343 714.077 624.553 689.103 622.194C664.13 619.835 624.321 627.429 620.973 652.292C795.573 674.263 945.186 753.268 1210.96 694.279C1434.99 644.556 1665 698.052 1665 698.052" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
    nav.header__nav
      include ../components/3.nav/nav
    .container--middle
      .header__body
        .header__line-element
        .header__article.header__article--main-page
          article
            h1 Corrective Massage Therapy Focusing on Chronic Pain Relief
            p.header__article-p Our expertise falls in line with therapeutic massage therapy, medical massage, sports massage therapy, chair massage for the sake of relaxation and a pain free life.
        .header__button
          a(href="contact.html").button.button--i-want-to-relieve I want to relieve my pain
        .header__anchor
          a(href="#first-main-section" title="Scroll down").arrow-anchor
            <svg class="icon-arrow" width="39" height="26" viewBox="0 0 39 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 13L37 13M37 13L27 3M37 13L27 23" stroke="white" stroke-width="4" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>

block content
  include ../components/first-main-section/first-main-section
  include ../components/what-we-do/what-we-do

block script