extends layout/main

block variables
  - var title = "Intrepid Bodyworks"
  - var PageHeaderBackground = "main-page__header-background" //- class

block header
  .header
    nav.header__nav
      include ../components/3.nav/nav
    .container
      .header__article
        article
          h1 Corrective Massage Therapy Focusing on Chronic Pain Relief
          p Our expertise falls in line with therapeutic massage therapy, medical massage, sports massage therapy, chair massage for the sake of relaxation and a pain free life.

block content

block script