
extends layout/main

block variables
  - var title = "Intrepid Bodyworks - Price"
  //- contact-us section
  - var contactUsHeader = "Contact Us Today"
  - var contactUsText = "We can address rehabilitation issues, structural problems, injuries, headaches and more. Contact Us Today and allow us to assess your current situation."
  - var contactUsButton = "I want to relieve my pain"

block header
  header.header.price__header-background
    nav.header__nav
      include ../components/3.nav/nav
    .container--wide.grid
      .header__body.gc-narrow
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="index.html").breadcrumbs__link Home
            li.breadcrumbs__item Price
        article.header__article
          h1 Intrepid Bodyworks Service Prices
          p.header__article-p Intrepid Karma offers local massage deals in Northglenn and the surrounding cities such as Westminster and Thornton.
        .header__button
          a(href="contact-us.html").button.button--i-want-to-relieve Request a Free Consultation

block content
  include ../components/price/price
  include ../components/gift-certificates-block/gift-certificates-block
  include ../components/what-we-do/what-we-do
  include ../components/contact-us/contact-us

block script