
extends layout/main

block variables
  - var title = "Intrepid Bodyworks - What We Do"
  //- contact-us-block section
  - var contactUsHeader = "Contact Us Today"
  - var contactUsText = "We can address rehabilitation issues, structural problems, injuries, headaches and more. Contact Us Today and allow us to assess your current situation."
  - var contactUsButton = "I want to relieve my pain"

block header
  header.header.what-we-do__header-background
    nav.header__nav
      include ../components/3.nav/nav
    .container--wide.grid
      .header__body.gc-narrow
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="index.html").breadcrumbs__link Home
            li.breadcrumbs__item What We Do
        article.header__article
          h1 What We Do
          p.header__article-p We excel at a wide variety of different modalities and reliefs. If you do not see your issues listed here that does not mean we am not cabable of helping you.
        .header__button
          a(href="contact-us.html").button.button--i-want-to-relieve Request a Free Consultation

block content
  include ../components/what-we-do/what-we-do
  include ../components/what-we-do/what-we-do__article
  include ../components/gift-certificates-block/gift-certificates-block
  include ../components/5.sliders/testimonials
  include ../components/contact-us-block/contact-us-block

block script