extends layout/main

block variables
  - var title = "Intrepid Bodyworks - Who We Are"

block header
  header.header.who-we-are__header-background
    nav.header__nav
      include ../components/3.nav/nav
    .container--narrow
      .header__body
        .breadcrumbs
          ul.breadcrumbs__body
            li.breadcrumbs__item
              a(href="index.html").breadcrumbs__link Home
            li.breadcrumbs__item Who We Are
        .header__article.header__article--main-page
          article
            h1 Welcome to Intrepid Bodyworks: Therapeutic Massage
            p.header__article-p Intrepid Karma offers local massage deals in Northglenn and the surrounding cities such as Westminster and Thornton.

block content
  include ../components/who-we-are/who-we-are
  include ../components/5.sliders/testimonials
  include ../components/contact-us/contact-us

block script