section.contact-us
  .container--wide.grid
    .contact-us__content
      .contact-us__header
        h2 #{contactUsHeader}
      .contact-us__text
        p #{contactUsText}
      .contact-us__phone
        a(href="tel:3034572040").contact-us__phone-link.link 303-457-2040
      .contact-us__button
        a(href="contact.html").button.button--i-want-to-relieve #{contactUsButton}