section.contact-us
  .container--wide.grid
    .contact-us__content
      .contact-us__header
        h3 Contact Us Today
      .contact-us__text
        p We can address rehabilitation issues, structural problems, injuries, headaches and more. Contact Us Today and allow us to assess your current situation.
      .contact-us__phone
        a(href="tel:3034572040").contact-us__phone-link.link 303-457-2040
      .contact-us__button
        a(href="contact.html").button.button--i-want-to-relieve I want to relieve my pain