.contact-us {
  position: relative;

  padding-top: 80px;
  padding-bottom: 90px;
  
  color: $white;
  
  background: url(../img/general/tx_contact-us-today.jpg);
  background: url(../img/general/tx_contact-us-today.webp);
  
  @media (min-width: $desktope) {
    &::before {
      content: '';
      position: absolute;
      left: 10%;
      top: calc(50% - 20px);
  
      width: 30px;
      height: 40px;
  
      background: url(../img/svg/sprite-exported.svg) 0 -110px;
      background-repeat: no-repeat;
      transform: rotate(-90deg) scale(12);
    }
  }
  @media (max-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__content {
    grid-column: 5/11;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: $desktope) {
      grid-column: 1/13;
      padding: 0;
    }
  }
  /* &__header {

  } */
  &__text {
    margin-top: 20px;
  }
  &__phone {
    margin-top: 10px;
    @media (max-width: $tablet) {
      margin-top: 20px;
    }
  }
  &__button {
    margin-top: 30px;
    @media (max-width: $tablet) {
      margin-top: 20px;
    }
  }
}