footer.footer
  .footer__body
    .container--wide
      .footer__line-nav
        nav.nav.footer__nav
          include ../4.menu/menu
        .footer__social
          a(href="#").footer__social-link
            svg(class="footer__social-icon" width="30px" height="30px" viewBox="0 0 30 30")
              use(href="img/svg/sprite-social.svg#social__yelp")
          a(href="#").footer__social-link
            svg(class="footer__social-icon" width="30px" height="30px" viewBox="0 0 30 30")
              use(href="img/svg/sprite-social.svg#social__gplus")
          a(href="#").footer__social-link
            svg(class="footer__social-icon" width="30px" height="30px" viewBox="0 0 30 30")
              use(href="img/svg/sprite-social.svg#social__fb")
      .footer__line-info.grid
        .footer__address
          p Intrepid Bodyworks, 10313 Washington St. Thornton, CO 80229
          p Monday — Sunday 9am — 8pm (Closed Tuesdays)
        .footer__contacts
          p
            a(href="tel:3034572040") 303-457-2040
          p
            a(href="mailto:intrepidBodyworks@gmail.com") IntrepidBodyworks@gmail.com
  .footer__bottom
    .container--wide.flex
      .footer__site
        p Intrepid Bodyworks © 2018
        fieldset.rating
          legend.rating__caption Company rating:
          .rating__group
            input.rating__star(type="radio" name="rating" id="rating-1" value="1" aria-label="Company rating 1")
            input.rating__star(type="radio" name="rating" id="rating-2" value="2" aria-label="Company rating 2")
            input.rating__star(type="radio" name="rating" id="rating-3" value="3" aria-label="Company rating 3" checked)
            input.rating__star(type="radio" name="rating" id="rating-4" value="4" aria-label="Company rating 4")
            input.rating__star(type="radio" name="rating" id="rating-5" value="5" aria-label="Company rating 5")
      .footer__developer
        p Developed by Anton Strizhov