.footer {
  &__body {
    background-color: $bgc-footer1;
  }
  &__nav {
    z-index: 1;
  }
  &__copyrights {
    background-color: $bgc-footer2;
  }
  @media (max-width: $tablet) {
    padding-bottom: 55px;
  }
  @media (max-width: $mobile) {
    padding-bottom: 44px;
  }
}