.footer {
  @media (max-width: $tablet) {
    padding-bottom: 55px;
  }
  @media (max-width: $mobile) {
    padding-bottom: 44px;
  }
  &__body {
    padding-bottom: 40px;

    background-color: $bgc-footer1;

    @media (max-width: $tablet) {
      padding-bottom: 30px;
    }
  }
  &__line-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;

    @media (max-width: 900px) {
      padding-top: 24px;
    }
    
    .footer__nav { 
      z-index: 1;
      width: auto;
      min-height: unset;
      margin-left: -20px;

      @media (max-width: 900px) {
        margin-left: 0;
        width: 100%;
      }

      .menu__item {
        @media (max-width: 900px) {
          flex: 1 0 33.83333%;
          &:nth-child(2n) {
            transform: translateX(10px);
          }
        }
        &-link { 
          padding: 9px 20px;

          @media (max-width: 900px) {
            padding: 3px 0px;
            padding-right: 10px;
          }
        }
      }
    }

    .footer__social {
      display: flex;
      flex-direction: row;
      justify-content: start;
      
      margin-top: 6px;

      @media (max-width: 900px) {
        width: 100%;
        margin-top: 20px;
      }
  
      &-link {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 10px;

        opacity: 1;
        transition: 0.15s;

        &:last-child { margin-right: 0; }
        &:hover, &:focus {
          opacity: 0.8;
          transition: 0.15s;
        }
      }
    }
  }
  &__line-info {
    margin-top: 9px;

    color: rgba($white, 0.5);

    @media (max-width: 900px) {
      margin-top: 20px;
    }

    p { 
      margin-top: 20px;

      @media (max-width: 900px) {
        margin-top: 5px;
      }
    }

    .footer__address {
      grid-column: 1/6;

      @media (max-width: 900px) {
        grid-column: 1/7;
      }
      @media (max-width: $mobile) {
        grid-column: 1/13;
      }
    }
    .footer__contacts {
      grid-column: 6/13;

      @media (max-width: 900px) {
        margin-top: 0px;
        grid-column: 7/13;
      }

      @media (max-width: $mobile) {
        margin-top: 15px;
        grid-column: 1/13;
      }
      a {
        color: rgba($white, 0.5);
        &:hover, &:focus {
          color: $white;
        }
      }
    }
  }
  &__bottom {
    padding-top: 40px;
    padding-bottom: 40px;

    color: $white;

    background-color: $bgc-footer2;

    @media (max-width: 900px) {
      padding-top: 28px;
      padding-bottom: 45px;
    }

    .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: $mobile) {
        display: block;
      }
    }
    .footer__site {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: start;

      @media (max-width: $mobile) {
        display: block;
      }

      p { 
        display: block;
        margin-right: 40px;
      }
      span { 
        display: block;

        @media (max-width: $mobile) {
          margin-top: 7px;
        }
      }
    }
    .footer__developer {
      @media (max-width: $mobile) {
        margin-top: 17px;
      }
    }
  }
}

.rating {
  position: relative;
  padding: 0;
  padding-right: 115px;
  border: none;
  
  &__caption { padding: 0; }
  
  &__group {
    position: absolute;
    bottom: 3px;
    left: 130px;
    width: 100px;
    height: 17px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='rgba(255, 165, 30, 0.2)' d='M7.04894 0.927067C7.3483 0.00575608 8.6517 0.00575656 8.95106 0.927067L10.0206 4.21886C10.1545 4.63089 10.5385 4.90985 10.9717 4.90985H14.4329C15.4016 4.90985 15.8044 6.14946 15.0207 6.71886L12.2205 8.75331C11.87 9.00795 11.7234 9.45932 11.8572 9.87134L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58778 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87134C4.27665 9.45932 4.12999 9.00795 3.7795 8.75331L0.979332 6.71886C0.195619 6.14946 0.598394 4.90985 1.56712 4.90985H5.02832C5.46154 4.90985 5.8455 4.63089 5.97937 4.21886L7.04894 0.927067Z'/%3E%3C/svg%3E");
    background-size: 20px auto;
    background-repeat: repeat-x;

    &:focus-within {
      outline: 2px solid rgba($bgc-btn1, 0.5);
      outline-offset: 0.2em;
    }
  }
  
  &__star {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 17px;
    font-size: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 20px auto;
    background-repeat: repeat-x;

    &:focus { outline: none; }
    &:nth-of-type(1) { z-index: 5; width: 20px; }
    &:nth-of-type(2) { z-index: 4; width: 40px; }
    &:nth-of-type(3) { z-index: 3; width: 60px; }  
    &:nth-of-type(4) { z-index: 2; width: 80px; }
    &:nth-of-type(5) { z-index: 1; width: 100px; }
  }
}
.rating__star:hover,
.rating__star:checked {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='rgb(255, 165, 30)' d='M7.04894 0.927067C7.3483 0.00575608 8.6517 0.00575656 8.95106 0.927067L10.0206 4.21886C10.1545 4.63089 10.5385 4.90985 10.9717 4.90985H14.4329C15.4016 4.90985 15.8044 6.14946 15.0207 6.71886L12.2205 8.75331C11.87 9.00795 11.7234 9.45932 11.8572 9.87134L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58778 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87134C4.27665 9.45932 4.12999 9.00795 3.7795 8.75331L0.979332 6.71886C0.195619 6.14946 0.598394 4.90985 1.56712 4.90985H5.02832C5.46154 4.90985 5.8455 4.63089 5.97937 4.21886L7.04894 0.927067Z'/%3E%3C/svg%3E");
}
.rating__star:hover ~ .rating__star {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='none' d='M7.04894 0.927067C7.3483 0.00575608 8.6517 0.00575656 8.95106 0.927067L10.0206 4.21886C10.1545 4.63089 10.5385 4.90985 10.9717 4.90985H14.4329C15.4016 4.90985 15.8044 6.14946 15.0207 6.71886L12.2205 8.75331C11.87 9.00795 11.7234 9.45932 11.8572 9.87134L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58778 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87134C4.27665 9.45932 4.12999 9.00795 3.7795 8.75331L0.979332 6.71886C0.195619 6.14946 0.598394 4.90985 1.56712 4.90985H5.02832C5.46154 4.90985 5.8455 4.63089 5.97937 4.21886L7.04894 0.927067Z'/%3E%3C/svg%3E");
}