.mobile-bottom-blocks {
  display: none;
  @media (max-width: $tablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 6;

    display: flex;
    width: 100%;
    
    .left-case {
      flex-grow: 1;

      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 13px;
      padding-bottom: 13px;

      background-color: $bgc-mobile-menu;      
      &:hover, &:focus { color: $bgc-btn1-hover; background-color: $bgc-btn2; }
    }
    .right-case {
      flex-grow: 1;

      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 13px;
      padding-bottom: 13px;

      background-color: $bgc-bottom-right;
      &:hover, &:focus { background-color: $bgc-bottom-right-hover; }
    }
  } 
}