section.contact-us-block
  .container--wide.grid
    .contact-us-block__content
      .contact-us-block__header
        h2 #{contactUsHeader}
      .contact-us-block__text
        p #{contactUsText}
      .contact-us-block__phone
        a(href="tel:3034572040").contact-us-block__phone-link.link 303-457-2040
      .contact-us-block__button
        a(href="contact.html").button.button--i-want-to-relieve #{contactUsButton}