//- article__slider items
- var file1 = "gift-certificates"
- var file2 = "gift-certificates"
- var file3 = "gift-certificates"

section.gift-certificates__article
  .container--narrow
    article.article
      .article__block
        .article__paragraph
          p Gift certificates are a great way to say thank you to someone. Give the gift of massage to co-workers, employees, or loved ones to help them relax or reduce chronic pain. You can also pick up your gift certificates in person during your next massage! Massage packages are available at price savings. Please call or stop in to find out about package savings.
        .article__slider
          include ../5.sliders/article__slider
        .article__paragraph
          p Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy may help provide the relief you're looking for. At Intrepid Bodyworks, we treat clients with a wide range of health-related issues and needs. If you're looking for a warm, attentive massage professional, we welcome you to visit our conveniently located facility.
        .article__header
          h3 Intrepid Bodyworks Massage Square Account
        .article__paragraph
          p This is the link to Intrepid Bodyworks Massage Square account.  You can use one of the preset amounts, add gratuity, or make a custom amount for your e-gift card!  Please let me know if you have any trouble!