section.testimonials
  .container--wide
    .testimonials__header
      h2.h2--h1 Testimonials
    .testimonials__body
      .testimonials__item
        h5.testimonials__item-header Mark B.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text I've always had a great massage at Intrepid, Mariah always takes the time to work out all the kinks and when I have any area that needs extra work she takes the time to work those areas.
      .testimonials__item
        h5.testimonials__item-header Chris C.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text Mariah is the best massage therapist I have been to (and I've seen quite a few) and has really helped me with my cronic back pain issues. I would recommend her to anyone!
      .testimonials__item
        h5.testimonials__item-header Kelleen R.
        .testimonials__item-rating
          +icon-class('star', 'star-4', '16', '16')
          +icon-class('star', 'star-5', '16', '16')
          +icon-class('star', 'star-3', '16', '16')
          +icon-class('star', 'star-2', '16', '16')
          +icon-class('star', 'star-1', '16', '16')
        p.testimonials__item-text Mariah is fantastic really listened to what i needed and got the knots OUT. Very professional and her home was very inviting. I scheduled my next massage and can't wait to go back. I'm worth it and she is the BEST.
    .testimonials__button
      a(href="testimonials.html").testimonials__button-link.link All Testimonials