.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;

  color: $white;

  background: url(../img/general/testimonials@desktope.jpg) center center;
  background: url(../img/general/testimonials@desktope.webp) center center;
  background-size: cover;
  
  @media (max-width: $tablet) {
    background: url(../img/general/testimonials@tablet.jpg) center center;
    background: url(../img/general/testimonials@tablet.webp) center center;
    background-size: cover;
  }

  &__body {
    padding-top: 50px;
    margin-right: -20px;

    @media (max-width: $desktope) {
      padding-top: 40px;
    }
    @media (max-width: $mobile) {
      padding-top: 20px;
    }
  }
  &__item {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    @media (max-width: $mobile) {
      padding-left: 0px;
      padding-right: 0px;
    }

    &-rating {
      padding-top: 13px;
      fill: $white;
      @media (max-width: $mobile) {
        padding-top: 7px;
      }
    }
    &-text {
      padding-top: 6px;
    }
  }

  &__button {
    padding-top: 25px;
    &-link {
      position: relative;
      padding-right: 57px;

      @media (max-width: $mobile) {
        padding-right: 42px;
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 2px;
        
        width: 40px;
        height: 29px;
        background: url(../img/svg/sprite-exported.svg) -40px -50px;

        @media (max-width: $mobile) {
          top: -14%;
          transform: scale(0.6);
        }
      }
    }
  }
}

// custom dots
ul.slick-dots {
  text-align: left;
  li {
    width: 20px;
    height: 25px;
    margin: 0 5px;
  }
  li button {
    position: absolute;
    top: calc(40% + 20px);

    width: 20px;
    height: 2px;
    padding: 0;

    background-color: $white;
    opacity: 0.3;
    transition: 0.15s;
    &:before { display: none; }
  }
  li.slick-active button {
    opacity: 1;
    transition: 0.15s;
  }
}