ul.menu
  li.menu__item
    a(href="http://localhost:3000/index.html").menu__item-link Who We Are
  li.menu__item
    a(href="http://localhost:3000/index.html").menu__item-link What We Do
  li.menu__item
    a(href="http://localhost:3000/index.html").menu__item-link Price
  li.menu__item
    a(href="http://localhost:3000/index.html").menu__item-link Gift Certificates
  li.menu__item
    a(href="http://localhost:3000/index.html").menu__item-link FAQ
  li.menu__item
    a(href="http://localhost:3000/index.html").menu__item-link Contact
  li.menu__item
    a(href="http://localhost:3000/index.html").menu__item-link Careers