.nav__menu
  ul.menu
    li.menu__item
      a(href="http://localhost:3000/index.html").menu__item-link item 1
    li.menu__item
      a(href="http://localhost:3000/index.html").menu__item-link item 2