.container--wide.nav__bg-wrapper
  .nav
    .nav__logo
      a(href="index.html" tabindex="1").nav__logo-link
        picture
          source(class="icon-logo-changer" media="(min-width: 1025px)" srcset="img/svg/logo.svg")
          img(class="icon-logo" src="img/svg/logo--mobile.svg" alt="logo")
    .nav__menu
      include ../4.menu/menu
    .nav__phonenumber
      a(href="tel:3034572040").nav__phonenumber-link 303-457-2040
    .nav__contact-us
      a(href="contact-us.html").button.button--contact-us Contact Us
    button.nav__burger.burger(type="button" tabindex="2")
      span.burger__elements
      span.visually-hidden Open menu