.nav {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;

  width: 100%;
  min-height: 55px;

  @media (max-width: $tablet) {
    min-height: 50px;
  }
  &--contact-us {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;

    @media (max-width: $tablet) {
      display: flex;
      column-gap: unset;
    }
    @media (max-width: $mobile) {
      display: grid;
      column-gap: 20px;
    }
  }
  &__bg-wrapper {
    @media (max-width: $tablet) {
      background-color: $bgc-mobile-menu;
    }
  }

  &__logo { 
    grid-column: 1/3;
    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: stretch;
      flex-wrap: nowrap;
      width: 120px;
      height: 44px;
      
      @media (max-width: $tablet) {
        width: 193px;
      }
    }
  }

  &__menu {
    width: auto;
    margin-top: 0;
    margin-left: 60px;  
    
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__phonenumber {
    &-link {
      display: block;
      padding: 10px 10px;
      
      @include font-semibold;
      word-wrap: none;
      white-space: nowrap;
      color: $bgc-btn1;
      transition: 0.15s;
      
      &:hover, &:focus { color: $bgc-btn1-hover; transition: 0.15s; }
      @media (max-width: $tablet) {
        display: none;
      }

      &--contact-us {
        padding: 0;
        color: $white;
        &:hover, &:focus { color: rgba($white, 0.75); }
        @media (max-width: $tablet) {
          display: block;
        }
      }
    }
  }
  &__contact-us {
    margin-left: 40px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__burger {
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
  &__address {
    grid-column: 3/13;
    font-style: normal;
    font-weight: 500;

    @media (max-width: $tablet) {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (max-width: $mobile) {
      grid-column: 7/13;
    }
    @media (max-width: 450px) {
      grid-column: 1/13;
      padding: 0;
      padding-bottom: 20px;
    }
  }
}

.nav__logo-link { &:focus { .icon-logo { opacity: 0.8; transition: 0.15s; } } }
.icon-logo { opacity: 1; transition: 0.15s; &:hover { opacity: 0.8; transition: 0.15s; } }

.nojs {
  .nav {
    @media (max-width: $tablet) {
      display: block;
    }
    &__menu {
      display: block;
      margin-left: 0;
    }
    &__burger { display: none; }
  }
}