.what-we-do {
  position: relative;

  min-height: 809px;
  padding-top: 61px;
  padding-bottom: 60px;
  
  color: $white;
  
  background: url(../img/general/tx_what-we-do.jpg);
  background: url(../img/general/tx_what-we-do.webp);
  background-repeat: repeat;
  
  @media (max-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  @media (max-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  &__header { position: relative; }

  &__items-list {
    @media (max-width: $tablet) {
      position: absolute;
      top: 110px;
      right: 0;
  
      width: 100%;
    }
    @media (max-width: $mobile) {
      top: 100px;
    }

    
    .what-we-do__item {
      position: absolute;
      top: 235px;
      right: 0;
      overflow: hidden;
      
      width: 100%;
      opacity: 0;
      transition: opacity 1s;
      @media (max-width: $tablet) {
        position: relative;
        top: 0;
        opacity: 1;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 130%;
        height: 270px;
    
        background: linear-gradient(270deg,#8400b9 0,rgba(132,0,185,0) 68.24%);
      }
      .what-we-do__img {
        width: 100%;
        height: 270px;
        @media (max-width: $tablet) {
          height: 120px;
        }
      }
      .what-we-do__description {
        width: 380px;
        margin-top: 30px;
        @media (max-width: $tablet) {
          display: none;
        }
      }
    }
  }

  &__all-services {
    position: absolute;
    top: 716px;
    left: 0;
    z-index: 1;

    display: inline;
    padding-right: 57px;

    @media (max-width: $tablet) {
      position: relative;
      top: 0;

      display: inline-block;
      margin-top: 30px;
    }
    @media (max-width: $mobile) {
      margin-top: 20px;
      padding-right: 42px;
    }
    
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 2px;
      
      width: 40px;
      height: 29px;
      background: url(../img/svg/sprite-exported.svg) -40px -50px;
      @media (max-width: $mobile) {
        transform: scale(0.6);
      }
    }
  }

  .chosen-item {
    opacity: 1;
    transition: opacity 1s;
  }

  .chosen-link {
    position: relative;
    margin-left: -19px;
    transition: margin-left 0.5s, font-size 0.5s, line-height 0.5s;
    @media (max-width: $tablet) {
      margin-left: 0;
    }
  
    &::before {
      content: '';
      position: absolute;
      left: -60px;
      top: 20px;
  
      width: 30px;
      height: 3px;
  
      background-color: $white;
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__links-list {
    position: relative;
    @include grid;
    & > * { &:not(:first-child) {
      margin-top: 40px; 
    }}
    @media (max-width: $tablet) {
      margin-top: 7px;
      & > * { &:not(:first-child) {
        margin-top: 0; 
      }}
    }
    @media (max-width: $mobile) {
      margin-top: 35px;
    }
    
    .what-we-do__link {
      position: relative;
      z-index: 1;
      
      display: block;
      grid-column: 8/13;

      transition: margin-left 0.5s, font-size 0.5s, line-height 0.5s; 

      @media (max-width: $tablet) {
        grid-column: 1/13;
        height: 120px;
        padding-top: 23px;
        padding-left: 20px;
      }
      @media (max-width: $mobile) {
        padding-top: 30px;
      }
    }
  }

  &__article {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.nojs {
  .what-we-do {
    &__items-list {
      position: relative;
      width: 100%;
      max-width: $wide;
      margin: 0 auto;
      padding: 0 210px;
    
      @media (max-width: $desktope) {
        max-width: calc((5/6)*100%);
        padding: 0 50px;
      }
      @media (max-width: $tablet) {
        position: absolute;
        max-width: $tablet;
        padding: 0 32px;
      }
      @media (max-width: $mobile) {
        max-width: $mobile;
        padding: 0 20px;
      }

      .what-we-do__item {
        right: unset;
        width: auto;
      }
    }
    &__all-services {
      position: relative;
    }
  }
}