.container--wide.grid
  article.what-we-do__article.article.gc-narrow
    .article__block
      .article__paragraph
        p We excel at a wide variety of different modalities and reliefs. If you do not see your issues listed here that does not mean we am not cabable of helping you. Give us a call and we can talk about it. If we am not 100% confident that we can help you, we have a list of other therapists that we can refer you too.  Lets talk! We excel at a wide variety of different modalities and reliefs. If you do not see your issues listed here that does not mean we am not cabable of helping you. Give us a call and we can talk about it. If we am not 100% confident that we can help you, we have a list of other therapists that we can refer you too.  Lets talk!
        p We excel at a wide variety of different modalities and reliefs. If you do not see your issues listed here that does not mean we am not cabable of helping you. Give us a call and we can talk about it. If we am not 100% confident that we can help you, we have a list of other therapists that we can refer you too.  Lets talk!