- var jsimgn = 0;
- var jslinkn = 0;

section.what-we-do
  .what-we-do__items-list
    .what-we-do__item(class="jsn-"+jsimgn++).chosen-item
      +img('content/what-we-do/what-we-do_img_1', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description Happy employees who can decrease their stress in the work place have better work output.
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_2', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description If you’re tired of the chronic pain, then see how deep tissue massage therapy may be the right answer for you.
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_3', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy massage for headaches may help provide the relief you're looking for.
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_4', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description Check out the benefits of neuromuscular massage and begin your journey to recovery and pain relief at Intrepid Bodyworks.
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_5', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description See for yourself the amazing benefits of trigger point massage therapy for chronic & acute pain.
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_6', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description Sports massage therapy provides benefits to athletes and active people. Try our services today.
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_7', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description Need professional chair massage for your office event or party in Thornton, CO? We can help.
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_8', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description Medical massage therapy has several benefits, including the treatment of chronic pain and inflammation. 
    .what-we-do__item(class="jsn-"+jsimgn++)
      +img('content/what-we-do/what-we-do_img_9', 'what-we-do__img', 'what we do picture')
      p.what-we-do__description Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy massage for headaches may help provide the relief you're looking for.
    a(href="what-we-do.html").what-we-do__all-services.link All Services
  .container--middle
    .what-we-do__header
      h2.h2--h1 What We Do
  .container--wide
    .what-we-do__links-list
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="Happy employees who can decrease their stress in the work place have better work output.").what-we-do__link.link Medical
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="If you’re tired of the chronic pain, then see how deep tissue massage therapy may be the right answer for you.").what-we-do__link.link Neuromuscular
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy massage for headaches may help provide the relief you're looking for.").what-we-do__link.link Trigger point
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="Check out the benefits of neuromuscular massage and begin your journey to recovery and pain relief at Intrepid Bodyworks.").what-we-do__link.link Therapeutic
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="See for yourself the amazing benefits of trigger point massage therapy for chronic & acute pain.").what-we-do__link.link Deep tissue
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="Sports massage therapy provides benefits to athletes and active people. Try our services today.").what-we-do__link.link Sports
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="Need professional chair massage for your office event or party in Thornton, CO? We can help.").what-we-do__link.link Craniosacral
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="Medical massage therapy has several benefits, including the treatment of chronic pain and inflammation.").what-we-do__link.link Detoxifying Foot Bath
      a(href="http://craniosacral-massage.html" class="jsn-"+jslinkn++ title="Are you suffering from chronic headaches, ongoing aches and pains, or extreme fatigue? Craniosacral therapy massage for headaches may help provide the relief you're looking for.").what-we-do__link.link Corporate Chair