.container--wide {
  width: 100%;
  max-width: $wide;
  margin: 0 auto;
  padding: 0 110px;
  
  @media (max-width: $desktope) {
    max-width: $desktope;
    padding: 0 50px;
  }
  @media (max-width: $tablet) {
    max-width: $tablet;
    padding: 0 32px;
  }
  @media (max-width: $mobile) {
    max-width: $mobile;
    padding: 0 20px;
  }
}

.container--middle {
  width: 100%;
  max-width: $wide;
  margin: 0 auto;
  padding: 0 210px;

  @media (max-width: $desktope) {
    max-width: calc((5/6)*100%);
    padding: 0 50px;
  }
  @media (max-width: $tablet) {
    max-width: $tablet;
    padding: 0 32px;
  }
  @media (max-width: $mobile) {
    max-width: $mobile;
    padding: 0 20px;
  }
}

.container--narrow {
  width: 100%;
  max-width: $wide;
  margin: 0 auto;
  padding: 0 310px;

  @media (max-width: $desktope) {
    max-width: calc((4/6)*100%);
    padding: 0 50px;
  }
  @media (max-width: $tablet) {
    max-width: $tablet;
    padding: 0 32px;
  }
  @media (max-width: $mobile) {
    max-width: $mobile;
    padding: 0 20px;
  }
}