body {
  color: $black-text;
  font-family: $font;
  @include font-size(18px);
  line-height: 29px;
  @media (max-width: $mobile) {
    @include font-size(15px);
    line-height: 22px;
  }
}

h1 {
  @include font-bold;
  @include font-size(56px);
  line-height: 73px;
  @media (max-width: $desktope) {
    @include font-size(42px);
  }
  @media (max-width: $tablet) {
    @include font-size(34px);
    line-height: normal;
  }
  @media (max-width: $mobile) {
    @include font-size(26px);
    line-height: 34px;
  }
}

.h1--404 {
  @include font-bold;
  @include font-size(300px);
  line-height: 360px;
  @media (max-width: $tablet) {
    @include font-size(220px);
    line-height: 260px;
  }
  @media (max-width: $mobile) {
    @include font-size(120px);
    line-height: 140px;
  }
}

h2 {
  @include font-bold;
  @include font-size(56px);
  line-height: 73px;
  @media (max-width: $desktope) {
    @include font-size(42px);
  }
  @media (max-width: $tablet) {
    @include font-size(34px);
  }
  @media (max-width: $mobile) {
    @include font-size(26px);
    line-height: 34px;
  }
}

.h2--h1 {
  @include font-bold;
  @include font-size(56px);
  line-height: 73px;
  @media (max-width: $desktope) {
    @include font-size(42px);
  }
  @media (max-width: $tablet) {
    @include font-size(34px);
  }
  @media (max-width: $mobile) {
    @include font-size(26px);
    line-height: 34px;
  }
}

h2 {
  @include font-semibold;
  @include font-size(48px);
  line-height: 62px;
  @media (max-width: $tablet) {
    @include font-size(38px);
  }
  @media (max-width: $mobile) {
    @include font-size(24px);
    line-height: 31px;
  }
}
h3 {
  @include font-semibold;
  @include font-size(32px);
  line-height: 42px;
  @media (max-width: $mobile) {
    @include font-size(20px);
    line-height: 29px;
  }
}
h4 {
  @include font-bold;
  @include font-size(24px);
  line-height: 31px;
  @media (max-width: $mobile) {
    @include font-size(15px);
    line-height: 19px;
  }
}
h5 {
  @include font-semibold;
  @include font-size(20px);
  line-height: 29px;

  @media (max-width: $mobile) {
    @include font-size(15px);
    line-height: 19px;
  }
}
h6 {
  @include font-semibold;
  @include font-size(18px);
  line-height: 26px;

  @media (max-width: $mobile) {
    @include font-size(15px);
    line-height: 19px;
  }
}
p { font-family: $font; }
.p--404 {
  @include font-semibold;
  @include font-size(26px);
  line-height: 37px;
}
.header {
  .breadcrumbs {
    @include font-size(16px);
    line-height: 21px;
  
    @media (max-width: $mobile) {
      @include font-size(13px);
      line-height: 17px;
    }
  }
  &__article-p {
    @include font-medium;
    line-height: 29px;
    @media (max-width: $tablet) {
      @include font;
      line-height: 22px;
    }
  }
  &__phonenumber {
    @include font-semibold;
    @include font-size(26px);
    line-height: 37px;
  }
}
.menu {
  @include font-medium;
  line-height: 23px;
  list-style: none;
  text-transform: capitalize;
  
  @media (max-width: $tablet) {
    @include font-size(16px);
  }
}
.mobile-bottom-blocks {
  .left-case {
    @include font-semibold;
    @include font-size(18px);
    word-wrap: none;
    white-space: nowrap;
    color: $bgc-btn1;
  }
  .right-case {
    @include font-bold;
    @include font-size(18px);
    word-wrap: none;
    white-space: nowrap;
    color: $white;
  }
}

.button, .form__submit-button {
  @include font-bold;
  word-wrap: none;
  white-space: nowrap;
  color: $white;
  @media (max-width: $tablet) {
    @include font-size(15px);
  }
}
.link {
  @include font-bold;
  @include font-size(24px);
  line-height: 31px;
  color: $white;
  @media (max-width: $mobile) {
    @include font-size(18px);
  }
}
.chosen-link {
  @include font-size(36px);
  line-height: 47px;
  @media (max-width: $tablet) {
    line-height: 31px;
  }
}
.what-we-do__link {
  @media (max-width: $tablet) {
    @include font-size(34px);
  }
  @media (max-width: $mobile) {
    @include font-size(22px);
    line-height: 29px;
  }
}
.what-we-do__description {
  @include font-size(15px);
  line-height: 21px;
}

.footer {
  @include font-size(16px);
  line-height: 21px;

  @media (max-width: $mobile) {
    &__line-info {
      @include font-size(13px);
      line-height: 17px;
    }
    .menu {
      @include font;
    }
    &__site {
      @include font-size(15px);
      line-height: 23px;
    }
  }
}

.article {
  &__bloger {
    @include font-size(18px);
    line-height: 29px;

    @media (max-width: $mobile) {
      @include font-size(13px);
      line-height: 17px;
    }
    &-author {@include font-semibold; }
  }
  &__social {
    @include font-size(16px);
    line-height: 21px;

    @media (max-width: $mobile) {
      @include font-size(13px);
      line-height: 17px;
    }
  }
  &__quote {
    &-text {
      @include font-bolditalic;
      @include font-size(30px);
      line-height: 43px;

      @media (max-width: $mobile) {
        @include font-size(20px);
        line-height: 29px;
      }
    }
    &-author {
      @include font-size(16px);
      line-height: 21px;
    }
  }
  &__contents {
    @include font-semibold;
    @include font-size(16px);
    line-height: 23px;

    @media (max-width: $mobile) {
      @include font-size(13px);
      line-height: 17px;
    }
  } 
  &__picture-label p {
    @include font-size(16px);
    line-height: 21px;

    @media (max-width: $mobile) {
      @include font-size(13px);
      line-height: 17px;
    }
  }
  &__list {
    @include font-size(18px);
    line-height: 29px;

    @media (max-width: $mobile) {
      @include font-size(13px);
      line-height: 17px;
    }

    &--checklist {
      @include font-semibold;
      @include font-size(18px);
      line-height: 29px;
  
      @media (max-width: $mobile) {
        @include font-size(13px);
        line-height: 17px;
      }
    }
  }
  &__table {
    thead, tbody {
      @include font-size(16px);
      line-height: 26px;
  
      @media (max-width: $mobile) {
        @include font-size(13px);
        line-height: 17px;
      }
    }
    thead { @include font-semibold; }
  } 
}

.price {
  &__item-caption {
    @include font-size(16px);
    line-height: 21px;

    @media (max-width: $mobile) {
      @include font-size(13px);
      line-height: 17px;
    }
  }
}

.text-transform-none { text-transform: none; }