.form {
  & > * { &:not(:first-child) {
    margin-top: 10px; 
  }}
  &__send { display: block;  }
  &__accepted { display: none; }
  &__input, &__textarea {
    width: 100%;
    padding: 5px 14px;
    border: 1px solid $form-border;
    border-radius: 5px;

    &::placeholder { color: $grey; }
  }
  &__submit {
    &-button {
      cursor: pointer;
      position: relative; 
      
      display: block;
      width: 100%;
      padding: 8px 24px;
      border: none;
      border-radius: 20px;

      text-align: center;

      background-color: $bgc-btn1;
      transition: 0.15s;
      &:hover, &:focus { background-color: $bgc-btn1-hover; transition: 0.15s; }

      &--ok {
        width: min-content;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 48px;
      }
    }
  }
  &__article {
    text-align: center;
    color: $form-header;
  }
  .error {
    outline-color: $bgc-btn1;
    &::placeholder { color: rgba($bgc-btn1, 0.75); }
  }
}