.input-reset,
.button-reset {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  font-weight: inherit;
  line-height: inherit;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  user-select: none; /* for button */
  &::-moz-focus-inner,
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.button {
  line-height: 40px;
  padding: 8px 24px;
  border-radius: 20px;

  background-color: $bgc-btn1;
  transition: 0.15s;
  cursor: pointer;
  &:hover, &:focus { background-color: $bgc-btn1-hover; transition: 0.15s; }
  &--contact-us { padding: 8px 24px; }
  &--i-want-to-relieve { padding: 8px 32px; }
  &--learn-more { background-color: $bgc-btn2; transition: 0.15s;
    &:hover, &:focus { background-color: $bgc-btn2-hover; transition: 0.15s; }
  }
  @media (max-width: $tablet) {
    padding: 8px 20px;
  }
  @media (max-width: $mobile) {
    padding: 8px 10px;
  }
}